*{
/*    outline: 1px solid red;*/
}
body{
    font-size : 16px;
}
nav{
    position: fixed;
    left:0px;
    top:0px;
}
nav .brand-logo{
    font-size: 170%;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left:20px;
}
.container{
    height:100vh; 
    display: flex;
    align-items: center;
}
.container .row{
    width:100%;
    margin:0px;
}
.sub-panel{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button .material-icons{
    font-size : 120%;
    margin-right:10px;
}
button span{
    position: relative;
    top: -4px;
}
.warning {
    font-size : 80%;
    letter-spacing: 1px;
    color : #3c3c3c;
}

/*-----------------------------------------------*/
/*------------PAYMENT SECTION -------------------*/
/*-----------------------------------------------*/
.s-card-header{
    font-size : 160%;
    font-weight:300;
    background-color : #039be5  ;
    color : #fff;
    padding-top:10px !important;
    padding-bottom:10px !important;
}
.s-card-content{
    padding-top : 30px !important;
}
#card-icon{
    height:100%;
    padding:0px;
}
#card-icon img{
    width:40px;
    padding-top:20px;
}

.details-row input{
    margin-bottom:0px;
    height:30px;
}

/*----------END OF PAYMENT SECTION----------------*/